<div class="containerMsg" *ngIf="currentUser?.email !== message.user.username">
  <div class="avatar">
    <img [src]=message.img alt="">
  </div>
  <div class="info">
    <div class="title">
      <h4>{{message.user.username}}</h4>
    </div>
    <div class="text">
      <span>{{message.text}}</span>
    </div>
    <div class="date">
      <span>{{message.date | date:'short'}}</span>
    </div>
  </div>
</div>

<div class="myMsg" *ngIf="currentUser?.email === message.user.username">
  <div class="info">
    <div class="title">
      <h4>{{'me' | translate}}</h4>
    </div>
    <div class="text">
      <span>{{message.text}}</span>
    </div>
    <div class="date">
      <span>{{message.date | date:'short'}}</span>
    </div>
  </div>
</div>