<div class="wrapper">
	<div class="container">
		<h1>{{ 'welcome' | translate }}</h1>
		
		<div class="form"> 
			<input type="text" [value]=username  [(ngModel)]="username" placeholder="{{ 'username' | translate }}" >
			<input type="password"[value]=password [(ngModel)]="password" placeholder="{{ 'password' | translate }}">
			<div class="buttons">
        <button (click)="login()" class="login">{{'login' | translate}}</button>
        <button (click)="loginAsGuest()" class="iniciorapido">{{ 'guest' | translate}}</button>
      </div>
    </div>
	</div>
	
	<ul class="bg-bubbles">
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>