.menu{
  width: 100%;
  height: 100%;
  background: rgba(27, 26, 26, 0.158);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  width: 100px;
  img{
    width: 100%;
  }
}