<div class="menu">
  <div *ngIf="loading" class="loading">
    <img src="../../../assets/images/loadingicon.jpg" alt="">
  </div>
  <div *ngIf="!loading" class="loading">
    <p>{{itemMenu}}</p>
  </div>

  <div *ngIf="itemMenu === 'whoIAm'" class="whoIam">
    <div class="how">nicolasnavarro</div>
  </div>
  <div *ngIf="itemMenu === 'home'" class="whoIam">
    <div class="how">HOME</div>
  </div>
  <div *ngIf="itemMenu === 'games'" class="whoIam">
    <div class="how">GAMES</div>
  </div>
  <div *ngIf="itemMenu === 'settings'" class="whoIam">
    <div class="how">settings</div>
  </div>
</div>
