#page {
  height: 90%;
  width: 100%;
  display: grid;
  padding-top: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav main main main main "
    "nav  main main main main "
    "nav  main main main main "
    "nav  foot foot foot foot ";
  grid-gap: 10px;
}

#page > nav {
  grid-area: nav;
}

#page > .homePage {
  grid-area: main;
}

#page > footer {
  grid-area: foot;
}
