<div class="gamePage">
  <div class="header">
    <img src="../../../assets/images/header.jpg" alt="" />
    <div class="texto">{{ "games" | translate }}</div>
  </div>

  <div class="listGames">
    <div class="gameItem">
      <div class="textGame">
        <h3>Name</h3>
      </div>
      <img src="../../../assets/images/header.jpg" alt="" />
      <div class="gameInfo">
        <h5 class="gameDescription">description</h5>
        <button>Play</button>
      </div>
    </div>
  </div>
</div>
