<div class="gamePage">
  <div class="header">
    <img src="../../../assets/images/header.jpg" alt="" />
    <div class="texto">{{ "games" | translate }}</div>
  </div>

  <div class="listGames">
    <div class="gameItem"*ngFor="let game of games">
      <div class="headerGame">
        <img src="../../../assets/images/header.jpg" alt="" />
        <div class="textGame">{{game.name | translate }}</div>
      </div>
      <div class="gameInfo">
        <img [src]="game.image" alt="">
        <h5 class="gameDescription">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo maiores
          similique dignissimos rem atque?
        </h5>
        <button class="btn-grad" (click)="goToGame(game.name)">{{ 'play' | translate }}</button>
      </div>
    </div>
  </div>
</div>
